### sbt ###
target/
project/target/
project/project/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala tooling ###
.bsp/
.metals/
.scala-build/
.bloop/

### Local secrets / config ###
doc/http-client.private.env.json
**/*.private.env.json
/sync.yaml
.env
*.local.env
